body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.content {
  text-align: center;
  padding: 20px;
  font-family: "Zen Kaku Gothic New", "Noto Sans JP", serif;
  background-color: #f9f9f9;
}

.tag-button {
  color: #333;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 9px 22px 11px 20px;
  margin: 7px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tag-button.selected {
  background-color: #f0f0f0;
}

.store-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px;
}

.store-item {
  display: block;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  margin: 15px 0;
  padding: 15px;
  text-decoration: none;
  color: #333;
}
.store-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.store-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.images-slider {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-slider img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.store-item p {
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}


.start-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.star-background-storelist {
  position: absolute;
  color: #ccc;
}

.start-filled-storelist {
  position: absolute;
  color: #FFD700;
  overflow: hidden;
}


@media (max-width: 480px) {
  .store-item {
    width: 90%;
    margin: 10px auto;
  }

  .search-tags {
    font-size: 15px;
  }

  h2 {
    font-size: 20px;
  }
}